.font-1xl {
  font: 700 6rem/0.9 "The Nautigal";
}
@media (max-width: 1000px) {
  .font-1xl {
    font-size: 3.75rem;
  }
}
@media (max-width: 400px) {
  .font-1xl {
    font-size: 3rem;
  }
}

.font-2msb {
  font: 400 1.5rem/0.66 "Nunito";
}

@media (max-width: 1000px) {
  .font-2msb {
    font-size: 1.25rem;
  }
}

.font-2m {
  font: 400 1.5rem/1.5 "Nunito";
}
@media (max-width: 1000px) {
  .font-2m {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .font-2m {
    font-size: 1rem;
  }
}

.font-2s {
  font: 400 1.25rem/1.5 "Nunito";
}
